// @import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
$breakpoints: (small: 320px, medium: 768px, large: 1024px, wide: 1400px);